nav{
    
}


footer{
    display: flex;
    margin-top: 0.5em;
    height: fit-content;
    width: auto;
    justify-content: space-around;
    background-color: #DDEEFB;
    color: black;
    font: Asul;
}
h3{
    font-size: small;
    padding: 5px;
   -webkit-text-stroke-color: #F0A167;
   -webkit-text-stroke-width: 0.2px;   
}
#footer, a{
    font-size: smaller;
}