$background-colour: #F0A167; 
$color: black;
/*Navbar tyylittelyt*/

#navbar_mobile{
    display: none;
}

.nav > a{
    color: $color;
    list-style: none;
}

.container{
    width: fit-content;
    position: absolute;
    right: 0;
    padding-top: 0.5em;
}

.nav-link:hover{
    background-color: $background-colour;
    opacity: 80%;
    color: $color;
}

.navlink:focus{
    outline: none;
    background-color: $background-colour;
    opacity: 80%;
}

.navbar-brand{
    margin: 1em;
    
}

/*Etusivun kuva*/

#loimu1{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #F0A167;  
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: block;
    
}

/*Gallerian säädöt*/

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

/*Kuka olen -sivun muokkaukset*/

div > h2{
    text-align: center;
    -webkit-text-stroke-color: #F0A167;
    -webkit-text-stroke-width: 0.4px;  
    padding-top: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#text{
    text-align: center;
    font-size: 15px;
    -webkit-text-stroke-color: #F0A167;
    -webkit-text-stroke-width: 0.2px;
    padding-top: 2em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

/*Yllätysnappi*/

#yllätysnappi{
    border-color: #F0A167;
    background-color: #f9f9f9;
    opacity: 30%;
    margin: 5em;
}

/*Footerin säädöt*/
footer{
    background-image: url("../../pictures/footerkuva.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    color: $color;
}

footer_kukaolen{
    background-image: url("../../pictures/footerkuva.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    color: $color;
}

/*Tekstien muokkaukset*/

#footer, h3, a{
    font-size: smaller;
    line-height: 1.6;
    margin-bottom: 1em;
    color: $color; 
    text-align: center;
}

h3{
    font-size: small;
   -webkit-text-stroke-color: #F0A167;
   -webkit-text-stroke-width: 0.2px;   
}

#otsikko{
    font-size: 20px;
    text-align: center;
   -webkit-text-stroke-color: #F0A167;
   -webkit-text-stroke-width: 0.2px; 
}

#alaotsikko{
    font-size: 15px;
    text-align: center;
    -webkit-text-stroke-color: #F0A167;
    -webkit-text-stroke-width: 0.6px; 
    opacity: 80%;
    font-weight: 700;
    text-shadow: 1px 2px gray;
}

/*Mobiiliversion muokkaukset*/

@media (max-width: 576px){
    .navbar{
        display: none;
        list-style: none;
    }

    #navbar_mobile{
        display: block;
        
    }
    footer{
        display: block;
        
    }
    #footer{
        display: list-item;
        text-align: center;
        line-height: 1.0;
 
    }
    h3{
        display: list-item;
        text-align: center;
        line-height: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    a{
        line-height: 0;
        text-align: center;
        display: list-item;
        padding-bottom: 4px;
    }
    
    #logo{
        width: 60px;
        height: 40px;
    }
    body{
        font-size: smaller;
    }
    #loimu1{
        height: 150px;
        width: 150px;
    }
}


/*Mallia css muokkauksiin;
https://stackoverflow.com/questions/70240635/navigation-bar-to-the-right-side-of-the-page
https://www.w3schools.com/cssref/css3_pr_background-size.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images
*/